﻿<!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination">
    <div>
        Items per page
        <select ng-model="pageSize" ng-change="setPageSize(pageSize)">
            <!-- select how many items should be displayed per page -->
            <option value="10">10</option>
            <option value="20">20</option> <!-- default option on first load should be 20 -->
            <option value="30">30</option>
            <option value="all">all</option> <!-- disregard pagination: show all the items -->
        </select>
    </div>
    <div>
        <button ng-click="goToFirst()">«</button><!-- 'go to first page' button -->
        <button ng-click="goToPrevious()" ng-disabled="page <= 1">‹</button><!-- 'go to previous page' button: can't go lower than 1 -->
        Page <input type="number" ng-model="page" ng-change="changePage(page)" min="1" /> <!-- input to select page to go to: go to page when input changes value --> of {{ totalPages }}  <!-- number of pages -->

        <button ng-click="goToNext()" ng-disabled="page >= totalPages">›</button> <!-- 'go to next page' button: can't go higher than last page number -->
        <button ng-click="goToLast()">»</button> <!-- 'go to last page' button -->
    </div>
    <div>
        <span>{{ totalCount }} items</span><!-- total number of items -->
    </div>
</div>